# ============================
#  FICHIERS SENSIBLES
# ============================
.env
config/.env

# ============================
#  VIRTUAL ENVIRONMENTS
# ============================
venv/
env/

# ============================
#  PYTHON CACHE
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
#  macOS FILES
# ============================
.DS_Store
static/.DS_Store

# ============================
#  PYTHONANYWHERE
# ============================
www_inspirecode_fr_wsgi.py
