# ============================
#  FICHIERS SENSIBLES
# ============================
.env
config/.env

# ============================
#  VIRTUAL ENVIRONMENTS
# ============================
venv/
env/
.venv/

# ============================
#  PYTHON CACHE
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
#  macOS FILES
# ============================
.DS_Store
static/.DS_Store

