/*****************************************************************/
/* PAGE À PROPOS – STRUCTURATION UX                              */
/*****************************************************************/

/* Section "Une manière de travailler" */
.ic-about-method {
  background-color: #ffffff;
}

/* Colonnes : respiration verticale */
.ic-about-method .col-md-4 {
  margin-bottom: 2rem;
}

/* Titres des piliers */
.ic-about-method h5 {
  font-size: 1.05rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #0a2342;
}

/* Texte descriptif */
.ic-about-method p {
  font-size: 0.95rem;
  line-height: 1.6;
}

/* Optionnel : léger séparateur visuel très discret */
.ic-about-method .col-md-4::before {
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  background-color: #0e5191;
  margin: 0 auto 1rem auto;
  opacity: 0.4;
}


/*****************************************************************/
/* PAGE À PROPOS – SECTION POUR QUI                              */
/*****************************************************************/

.ic-about-target p {
  line-height: 1.7;
}
