/*******************************/
/* Styles pour le pied de page */
/*******************************/

/* ===================== FOOTER ===================== */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}
