/* =========================
   PAGES OFFRES
========================= */

.ic-section {
  padding-top: 2rem;
  padding-bottom: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.ic-section > .container > :last-child {
  margin-bottom: 0;
}


.ic-accompagnements {
  padding-bottom: 4rem;
}


.ic-offre-section {
  padding: 5rem 0;
}

/* Sections plus respirantes */
.ic-offre-section--large {
  padding: 6rem 0;
}

/* Sections plus compactes */
.ic-offre-section--compact {
  padding: 1rem 0;
}

#accompagnements {
  scroll-margin-top: var(--header-height, 80px);
}

.ic-section-auto {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-intro {
  margin-bottom: 3rem;
}


.section-title-inner {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.section-icon {
  width: 1em;
  height: 1em;
  color: var(--primary-color);
  opacity: 0.85;
  flex-shrink: 0;
}

@media (max-width: 576px) {
  .section-title-inner {
    flex-direction: column;
    gap: 0.75rem;
  }

  .section-icon {
    width: 1.5em;
    height: 1.5em;
  }
}
