.ic-realisation-image {
  width: 100%;
  aspect-ratio: 16 / 10; /* cohérent pour desktop */
  overflow: hidden;
  background-color: #f5f5f5;
}

.ic-realisation-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* clé du rendu propre */
  object-position: top;   /* optionnel : évite de couper les formulaires */
}


.ic-visual-title {
  font-size: 0.9rem;
  font-weight: 600;
  color: #444;
  text-align: center;
  margin-bottom: 0.75rem;
}
