{% extends "base.html" %}

{% block title %}
  À propos - Inspire Code
{% endblock %}

{% block content %}
<section id="about">
  <div class="container">
    <h2>À propos d’Inspire Code</h2>
    <p>
      Chez Inspire Code, nous mettons l’accent sur la créativité et la 
      performance. Notre mission est de vous accompagner dans votre transformation 
      digitale, en vous proposant des solutions web & mobiles adaptées à vos besoins. 
    </p>
    <p>
      Grâce à notre expertise en développement et en design, nous vous aidons à 
      atteindre vos objectifs tout en vous démarquant de la concurrence.
    </p>
  </div>
</section>
{% endblock %}
