
{% extends "base.html" %}

{% block title %}
  Développement Web et Mobile à Lyon - Inspire Code
{% endblock %}
<meta name="description" content="Inspire Code propose des services de développement web et mobile à Saint-Genis-les-Ollières, dans l’ouest lyonnais. Transformez vos idées en solutions digitales performantes.">

{% block content %}
  <!-- ============ SECTION HERO ============ -->
  <section id="hero">
    <div class="hero-content">
      <h1>Développement Web & Mobile Innovants</h1>
      <p>Basés dans l'ouest lyonnais, à Saint-Genis-les-Ollières, nous transformons vos idées en solutions digitales performantes.</p>
      <a href="{{ url_for('contact') }}" class="btn-hero">Contactez-nous</a>
    </div>
  </section>
{% endblock %}
