{% extends "base.html" %}

{% block title %}
  Offres & Tarifs – Inspire Code
{% endblock %}

{% block content %}

<!-- HERO -->
<section class="ic-hero-offre d-flex align-items-center text-white text-center">
  <div class="container py-4">
    <h1 class="display-5 fw-bold">Mes Offres & Tarifs</h1>
      <p 
        class="lead mt-3">
        Des solutions web adaptées à chaque besoin, avec un accompagnement personnalisé.
      </p>
  </div>
</section>

<!-- SECTION OFFRES (PARTIAL) -->
{% include "partials/_offres_detail.html" %}


<!-- CTA FINAL -->
<section class="ic-cta-offre d-flex align-items-center text-white text-center">
  <div class="container py-4">
    <h2 class="fw-bold mb-4">Un projet ? ... Je vous accompagne</h2>
    <div class="d-flex justify-content-center gap-3 flex-wrap">
      <a 
        href="{{ url_for('contact') }}" 
        class="btn btn-light btn-lg">
        Me contacter
      </a>
    </div>
  </div>
</section>




{% endblock %}
