<section class="ic-section">
  <h2 class="text-center fw-bold mb-5">Cette offre est faite pour vous si…</h2>

  <div class="row text-center gy-2 justify-content-center">

    <!-- Indépendants -->
    <div class="col-md-3">
      <div class="p-4 card shadow-sm h-100">
        <div class="d-flex justify-content-center gap-1 mt-1">
          <img src="{{ url_for('static', filename='images/indepenant_app.jpg') }}" height="80" alt="Indépendants">
        </div>
        <h3 class="fw-bold mt-3">Indépendants & créateurs</h3>
        <p class="text-muted mb-0">
          Vous proposez déjà un service ou un outil, et souhaitez offrir à vos utilisateurs un accès mobile simple et ciblé, sans complexifier l’existant.
        </p>
      </div>
    </div>

    <!-- PME -->
    <div class="col-md-3">
      <div class="p-4 card shadow-sm h-100">
        <div class="d-flex justify-content-center gap-1 mt-1">
          <img src="{{ url_for('static', filename='images/pme_app.jpg') }}" height="80" alt="PME">
        </div>
        <h3 class="fw-bold mt-3">Structures de type PME</h3>
        <p class="text-muted mb-0">
          Vous avez un besoin mobile clair, interne ou externe, pour simplifier un usage récurrent, centraliser une action ou faciliter l’accès à une information.
        </p>
      </div>
    </div>

    <!-- Projets existants -->
    <div class="col-md-3">
      <div class="p-4 card shadow-sm h-100">
        <div class="d-flex justify-content-center gap-1 mt-1">
          <img src="{{ url_for('static', filename='images/web_app.jpg') }}" height="80" alt="Projets existants">
        </div>
        <h3 class="fw-bold mt-3">Projets déjà existants</h3>
        <p class="text-muted mb-0">
          Votre site, outil ou service fonctionne déjà, et le mobile devient pertinent pour améliorer l’usage, sans repartir de zéro ni multiplier les fonctionnalités.
        </p>
      </div>
    </div>

    <!-- Associations -->
    <div class="col-md-3">
      <div class="p-4 card shadow-sm h-100">
        <div class="d-flex justify-content-center gap-1 mt-1">
          <img src="{{ url_for('static', filename='images/association_app.jpg') }}" height="80" alt="Associations">
        </div>
        <h3 class="fw-bold mt-3">Structures à mission</h3>
        <p class="text-muted mb-0">
          Vous coordonnez des actions, des bénévoles ou des bénéficiaires, et avez besoin d’un outil mobile simple pour faciliter l’accès à une information ou à un service existant.
        </p>
      </div>
    </div>

  </div>
</section>
