name: Déploiement sur PythonAnywhere

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout le code
        uses: actions/checkout@v3

      - name: Configurer Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Installer les dépendances
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Exécuter le script de déploiement
        env:
          API_TOKEN: ${{ secrets.PYTHONANYWHERE_API_TOKEN }}
        run: |
          python ./upload.py
